:root {
	--color-light-xl: #fff;
	--color-light-l: #f6f6f6;
	--color-light-s: #fafafa;
	--color-dark-s: #cdcdcd;
	--color-dark-m: #b2b2b2;
	--color-dark-l: #545454;
	--color-dark-xl: #4c4c4c;
	--color-dark-2xl: #444;
	--color-dark-3xl: #292929;
	--color-primary: #f1cdb3;
	--color-primary-light: #fddcc4;
	--start-screen-gradient-background: #211f20;
	--footer-gradient-background: #211f20;

  --font-family: "Georgia", sans-serif;
  --second-family: "Arial", sans-serif;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  width: 1200px;
  padding: 0 40px;
  margin: 0 auto;
}

.basic-text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: var(--color-dark-s);
}

.button {
  border-radius: 100px;
  padding: 15px 45px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-decoration: none;
}

.button-dark {
  color: var(--color-dark-3xl);
  background-color: var(--color-primary);
}

.button-light {
  background-color: var(--color-light-s);
  color: var(--color-dark-3xl);
  border: 2px solid var(--color-primary);
}

.section-heading {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}

.not-only {
  position: relative;
  padding-top: 344px;
  padding-bottom: 257px;
  background: burlywood url("img/content/start-screen-gradient-background.jpg") no-repeat center / cover;
}

.not-only-content {
  width: 460px;
}

.not-only-heading {
  margin-bottom: 42px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  color: var(--color-light-xl);
}

.not-only .basic-text {
  margin-bottom: 56px;
  color: var(--color-dark-s);
}

.not-only-img {
  position: absolute;
  bottom: 0;
  right: 37px;
}

.main-header {
  position: absolute;
  z-index: 1;
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 30px 0;
}

.header-nav-list {
  width: 443px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;
}

.header-nav-link {
  position: relative;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;

  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: var(--color-dark-s);
  text-decoration: none;
}

.header-nav-link.active {
  color: var(--color-light-s);
}

.header-nav-link.active::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--color-primary);
}

.about {
  padding-top: 94px;
  padding-bottom: 90px;
  background: #fff url("img/content/about-pets.png") no-repeat 216px 81px;
}

.about-content {
  width: 430px;
  margin-left: auto;
  padding-right: 176px;
}

.about-heading {
  margin-bottom: 25px;
}

.about .basic-text {
  margin-bottom: 25px;
  color: var(--color-dark-xl);
}

.our-friends {
  position: relative;
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: var(--color-light-l);
}

.our-friends-heading {
  margin-bottom: 60px;
  text-align: center;
}

.slider {
  width: 990px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 60px;
  padding: 0;
  list-style-type: none;
}

.our-friends button {
  position: absolute;
  width: 52px;
  height: 52px;
  font-size: 0;
  border-radius: 100px;
  border: 2px solid var(--color-primary);
  background-color: inherit;
}

.slider-prev {
  background: url("img/icons/arrow-left.svg") no-repeat center center;
  bottom: 312px;
}

.slider-next {
  background: url("img/icons/arrow-right.svg") no-repeat center center;
  right: 40px;
bottom: 312px;
}

.card {
  text-align: center;
  border-radius: 9px;
  /* padding: 30px 35px; */
  padding-top: 0;
  width: 270px;
  background-color: var(--color-light-s);
  box-sizing: border-box;
}

.card-text {
  padding: 0 35px 44px;
}

.card-img {
  margin-bottom: 23px;
  max-width: 100%;
  height: auto;
}

.card-title {
  margin-bottom: 46px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--color-dark-l);
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.help {
  padding-top: 80px;
  padding-bottom: 66px;
  background-color: var(--color-light-xl);
  text-align: center;
}

.help-heading {
  margin-bottom: 40px;
}

.help-list {
  width: 1026px;
  margin-bottom: 15px;
  padding: 0;
  list-style-type: none;
  display: inline-grid;
  grid-template-columns: repeat(5, auto);
  grid-column-gap: 119px;
  justify-content: center;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--color-dark-l);
}

.help-list li {
  text-align: center;
}

.help-list img {
  margin-bottom: 5px;
}

.help-list:last-child {
  grid-template-columns: repeat(4, auto);
}

.in-addition {
  background-color: var(--color-light-l);
}